<h2>This is some title</h2>
<p>Just making some content for my hello.erb file.</p>
<p>Erb is nice, not sure if I perfere it over haml, it is cool, I'm just not crazy about the %, it's hard to reach and therfore hard to code with but I could just need to get used to it.</p>
<h2>and another title</h2>
