<h2>This site is built with <em>Sinatra</em></h2>
<p>Just making some content for my hello.erb file.</p>
<p>Erb is nice, not sure if I perfere it over haml, it is cool, I'm just not crazy about the %, it's hard to reach and therfore hard to code with but I could just need to get used to it.</p>
<h2>Sinatra rocks my balls off!</h2>
<p>
  Sometimes rails is just too much for our needs, in those cases, I go for Sinatra.
</p>
<p>
  Sinatra is a restful framework for the ruby language and is a total joy to work with.
  Just because it's doesn't mean it's not powerful, there are some pretty powerful things you can do with it
  </p>

<p>
  If you have never tried Sinatra, do yourself a favor and pick it up. You won't be regreting a thing if you do, I promise. Ruby is such a great language and lends itself to web development. It's restful architecture makes writes apps a breeze.
</p>
