!!!5
%html
  %head
    %meta(charset="utf-8")
    %link(rel='stylesheet' href='../css/style.css')
    %title Exhibit
  %body
    #wrap
      #nav
        %ul
          %a(href='/')
            %li home
          %a(href='/images')
            %li images
          %a(href='/')
            %li home
          %a(href='/')
            %li home

      %p The current user is #{@user}
      = yield
