<form action="/sessions" method="POST" accept-charset="utf-8">
  <p>
    <input type="text" name="height" id="height" placeholder="What is your height in" /> ft'
  </p>
  <p>
    <input type="submit" value="Store my height information" />
  </p>
</form>
