<h2>Sessions in Sinatra are a cynch</h2>

<p>
  We are grabbing a sessions variable from the form below and will output it back to the page.
  I will probably hook up a database next and store the session in there along with some other things
  like the images and user information that I have yet to gather.
</p>

<form action="/sessions" method="POST" accept-charset="utf-8">
  <p>
    <input type="text" name="height" id="height" placeholder="What is your height in" /> ft'
  </p>
  <p>
    <input type="submit" value="Store my height information" />
  </p>
</form>
